.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.hide {
  display: flex;
  padding: 5%;
  justify-content: center;
}
.count {
  font-size: 6em;
  text-align: center;
}
.compact-count {
  display: flex;
  justify-content: center
}

.compact-controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.compact-button {
  background-color: rgb(20, 24, 238);
  border: none;
  color: white;
  padding: .8em;
  margin: .5em;
  outline: none;
  &:hover {
    background-color: darken(rgb(0, 162, 255), 5%);
  }
  &:active {
    background-color: darken(lightblue, 10%);
  }
}